<!DOCTYPE html>
<html>
<head>
  <title>Miniloans</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Miniloans</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%= nav_link_for('Loans', loans_path) %>
          <%= nav_link_for('Users', users_path) if can?(:manage, User) %>
          <%= nav_link_for('Bids', bids_path) if can?(:manage, Bid) %>
          <% if user_signed_in? %>
            <%= nav_link_for('My Account', user_path(current_user))%>
            <%= nav_link_for 'Sign out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= nav_link_for('Log in', new_user_session_path) %>
            <%= nav_link_for('Sign up', new_user_registration_path) %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
    <% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>
    <%= yield %>
  </div>

</body>
</html>
